<h1 class="about_h1 mt-5">Parking-lot</h1>
<h3 class="about_h1 mt-1">頭の中の考え事を外に出して目の前の仕事に集中しましょう！</h3>
<div class="about_introduction">
<p>
  仕事/趣味/人間関係etc...様々な悩みを抱えていると</br>
  悩みに振り回されて目の前のタスクに集中できなくなってしまいます。</br>
  なので悩んでいることを書き出して保存しましょう！</br>
  悩みを保存すれば悩みを覚えている必要がなくなるため、目の前のタスクに関係のない事柄を排除できます</br>
</p>



</div>


