<div>
  <div class=" m-0">
    　<div class="text-center">
        <h5>簡単メモ書き</h5>
          <%= form_with url: board_list_tasks_m_path, local:true do |f| %>
        <ul class="form-group">
            タスクname：<%= f.text_field :title_t %> <%= f.submit 'タスク作成' %>
        </ul>
        <% end %>
      </div>
      <!--<div>-->
      <!--  <div class="pl-3 text-center">未分類タスク</div>-->
      <!--  <div class="text-center">-->
      <!--    < boards.each do |item| %>-->
      <!--      <tr>-->
      <!--        <= link_to board_path(item.id) do %>-->
      <!--        <= item.title %>-->
      <!--        < end %>-->
      <!--      </tr>-->
      <!--    < end %>-->
      <!--   </div>-->
      <!--</div>-->
  </div>